@import "../../index.module.scss";

.footer {
  width: 100%;
  height: fit-content;
  bottom: 0;

  background-color: $backgroundColor;
  color: $primaryColor;
  font-weight: normal;

  display: grid;
  grid-template-columns: 1fr auto 1fr;

  & > .logo {
    display: flexbox;
    align-self: center;
    text-align: left;
    margin-left: 1em;
    span {
      font-weight: bold;
      font-size: small;
      text-align: center;
    }
  }

  ul {
    flex-grow: 3;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 1em;
    li {
      text-align: center;
      font-size: medium;
      a {
        text-decoration: none;
        padding: 0.7em;
        border-radius: 5%;
        &:active {
          color: $primaryColor_onActive;
        }

        svg {
          display: inline;
          &:hover {
            color: $primaryColor_onHover;
          }
        }
      }
    }
  }

  & span {
    align-self: center;
    text-align: right;
    margin-right: 1em;
    font-size: x-small;
    a {
      &:hover {
        text-decoration: underline;
      }
    }

    & .allRights {
      display: none;
    }

    @media only screen and (min-width: 768px) {
      & .allRights {
        display: inline;
      }
    }
  }
}
