{
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "semi": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "tslintIntegration": true,
  "stylelintIntegration": true,
  "requireConfig": true
}
