$primaryColor: #363636;
$primaryColor_onHover: #858585;
$primaryColor_onActive: #ffffff;
$primaryColorOnDark: #ffffff;
$primaryColorOnDark_onHover: #ffffff;
$primaryColorOnDark_onActive: #ffffff;
$secondaryBackgroundColor: #363636;
$secondaryBackgroundColor_onHover: #858585;
$accentBackgroundColor: #bffdfd;

$experienceBoxBackgroundColor: #ebebeb;

$backgroundColor: #ffffff;
$accentColor: #0878e7;

.base {
  background-color: $backgroundColor;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0.5em;
  overflow-x: hidden;
  height: 100%;
  overflow-y: scroll;
}

.emptyBody {
  width: 100%;
  height: 100%;
}
