@import "../../index.module.scss";

.sectionHeader {
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    font-weight: 900;
    color: $primaryColor;
  }

  h2 {
    font-size: 1em;
    font-weight: 400;
    color: $primaryColor;
  }
}
