.topProjectsWrapper {
  height: fit-content;
  width: 100%;
  display: grid;
  row-gap: 1em;
  grid-template-rows: auto 1fr;

  & .projectGrid {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr); // Two rows
    row-gap: 1em;
    column-gap: 0;

    @media only screen and (min-width: 768px) {
      max-width: 85%;
      justify-self: center;
      row-gap: 1em;
      grid-template-columns: 1fr;
    }

    // First Row
    & .row {
      display: grid;
      grid-template-columns: 1fr; // Only 1 column on mobile
      gap: 1em;

      @media only screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr; // 2 columns on Desktop
      }
    }

    // Special Row second
    .row:nth-child(2) {
      height: fit-content;
      @media only screen and (min-width: 768px) {
        grid-template-columns: 1fr;
        grid-column: 1 / span 2; // Some CSS magic to span row to 2 columns
      }
    }
  }
}

.imageWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    aspect-ratio: 1;
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
    width: (100vw / 2);
    height: (100vw / 2);
  }

  // For Desktop
  @media only screen and (min-width: 768px) {
    align-items: center;
    justify-content: right;
    img {
      aspect-ratio: 1;
      width: (100vw / 3);
      height: (100vw / 3);
    }
  }
}

.textWrapper {
  color: #363636;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  line-height: 1em;
  margin-top: 2em;

  span {
    font-size: x-large;
    font-weight: 100;
    &.spanBig {
      font-weight: 900;
      font-size: x-large;
    }
  }

  h2 {
    font-size: medium;
    font-weight: 300;
  }

  & .pWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    p {
      width: fit-content;
      height: fit-content;
      padding: 0.5em;
      background-color: #bffdfd;
      border-radius: 0.5em;
      font-size: small;
      font-weight: 300;
    }
  }

  // For Desktop
  @media only screen and (min-width: 768px) {
    flex-direction: column;
    justify-content: center;
    line-height: normal;
    margin-top: 0;
    & .pWrapper {
      width: 100%;
      display: flex;
      justify-content: left;
      margin-top: 0;
      p {
        width: fit-content;
        height: fit-content;
        padding: 0.5em;
        background-color: #bffdfd;
        border-radius: 0.5em;

        font-size: small;
        font-weight: 300;
      }
    }
  }
}
