$primaryColor: #363636;
$primaryColor_onHover: #858585;
$primaryColor_onActive: #ffffff;
$primaryColorOnDark: #ffffff;
$primaryColorOnDark_onHover: #ffffff;
$primaryColorOnDark_onActive: #ffffff;
$secondaryBackgroundColor: #363636;
$secondaryBackgroundColor_onHover: #858585;
$accentBackgroundColor: #bffdfd;

$backgroundColor: #ffffff;
$accentColor: #0878e7;

$projectCardAccentColorBlue: #2e42b1;
$projectCardAccentColorBlack: #616161;

.base {
  background-color: $backgroundColor;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0.5em;
  overflow-x: hidden;
  min-height: 100vh;
  height: fit-content;
  overflow-y: auto;
}

.emptyBody {
  width: 100%;
  height: 100%;
}
