@import "../../../index.module.scss";

.projectCardWrapper {
  display: block;
  background-color: $primaryColor;
  border: none;
  border-radius: 1em;
  width: 100%;
  height: 200px;
  color: $primaryColorOnDark;
  cursor: pointer;

  @media only screen and (min-width: 1280px) {
    height: 350px;
  }

  & > * {
    width: 100%;
    height: 100%;
    padding: 1em;
    overflow: hidden;
    display: block;
    border-radius: 1em;

    img {
      width: 65%;
      height: fit-content;
      border-radius: 1em;
      display: none;
      @media only screen and (min-width: 480px) {
        display: inline;
      }
    }

    & .textWrapper {
      display: grid;
      height: 100%;
      grid-template-rows: repeat(3, 1fr) auto;

      span {
        font-size: xx-large;
        font-weight: bold;
        display: block;
        position: relative;
        span {
          font-weight: normal;
          font-size: large;
        }
      }
      p {
        font-size: small;
      }
      & .techWrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 1em;

        & > * {
          height: 50px;
          width: 50px;

          transform: scale(1);
          transition: transform 0.3s ease; /* Smooth transition effect */

          &:hover {
            transform: scale(1.3);
          }
        }
      }
    }
  }

  &:hover > .floatRight {
    img {
      transform: translateX(-25em) translateY(-5em) scale(1.3) rotate(3deg);
      @media only screen and (min-width: 1280px) {
        transform: translateX(-50em) translateY(-25em) scale(1.3) rotate(5deg);
      }
    }
  }
  &:hover > .floatLeft {
    img {
      transform: translateX(25em) translateY(-5em) scale(1.3) rotate(-3deg);
      @media only screen and (min-width: 1280px) {
        transform: translateX(50em) translateY(-25em) scale(1.3) rotate(-5deg);
      }
    }
  }
}

.floatLeft {
  text-align: left;
  background-color: $accentColor;
  width: 100%;

  img {
    justify-self: end;

    transform: translateX(25em) translateY(-5em) scale(1) rotate(-5deg);
    transition: transform 0.3s ease; /* Smooth transition effect */

    @media only screen and (min-width: 1280px) {
      transform: translateX(50em) translateY(-25em) scale(1) rotate(-10deg);
      transition: transform 0.3s ease; /* Smooth transition effect */
    }
  }

  & .textWrapper .techWrapper {
    color: $projectCardAccentColorBlue;
    justify-self: start;
  }
}

.floatRight {
  text-align: end;
  width: 100%;
  grid-column-end: -1;

  img {
    justify-self: start;

    transform: translateX(-25em) translateY(-5em) scale(1) rotate(5deg);
    transition: transform 0.3s ease; /* Smooth transition effect */

    @media only screen and (min-width: 1280px) {
      transform: translateX(-50em) translateY(-25em) scale(1) rotate(10deg);
      transition: transform 0.3s ease; /* Smooth transition effect */
    }
  }

  & .textWrapper .techWrapper {
    justify-self: end;
    color: $projectCardAccentColorBlack;
  }
}
