@import "../../../index.module.scss";

.skillsWrapper {
  height: fit-content;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 1em;

  & .skillGrid {
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 1em;
    background-color: $accentBackgroundColor;
    border-radius: 0.5em;

    svg {
      width: 100%;
      height: 100%;
      color: $primaryColor;
    }
  }
}
