@import "../../index.module.scss";

.footer {
  width: 100%;
  height: fit-content;
  bottom: 0;

  background-color: $backgroundColor;
  color: $primaryColor;
  font-weight: 500;

  display: flex;
  flex-direction: row;

  & > .logo {
    display: flexbox;
    align-self: center;
    margin-left: 1em;
    span {
      font-weight: bolder;
      font-size: small;
      text-align: center;
    }
  }

  ul {
    flex-grow: 3;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 1em;
    li {
      text-align: center;
      font-size: medium;
      a {
        text-decoration: none;
        padding: 0.7em;
        border-radius: 5%;
        &:active {
          color: $primaryColor_onActive;
        }

        svg {
          display: inline; /* or block, or any other appropriate value */
        }
        span {
          display: none;
        }

        /* CSS: Show the SVG and span on hover of the parent */
        &:hover svg {
          display: none;
        }
        &:hover span {
          font-size: small;
          display: inline; /* or block, or any other appropriate value */
        }
      }
    }
  }

  & span {
    display: flexbox;
    align-self: center;
    margin-right: 1em;
    font-size: x-small;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
