@import "../index.module.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $backgroundColor;
  height: 100%;
  h1 {
    color: $primaryColor;
    font-size: medium;
  }
}
