@import "../index.module.scss";

.main {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  background-color: $backgroundColor;
  height: fit-content;
  margin: 1em;
  gap: 1em;
}

.homeLayout {
  height: fit-content;
}
