@import "../../index.module.scss";

.nav {
  width: 100%;
  height: fit-content;
  top: 0;

  background-color: $backgroundColor;
  color: $primaryColor;
  font-weight: 500;

  display: grid;
  grid-template-columns: 1fr 1fr auto;

  user-select: none; // chrome and Opera
  -moz-user-select: none; // Firefox
  -webkit-text-select: none; // IOS Safari
  -webkit-user-select: none; // Safari

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    li {
      text-align: center;
      margin-right: 1em;
      a {
        text-decoration: none;
        padding: 0.7em;
        border-radius: 5%;
        &:hover {
          color: $primaryColor_onHover;
        }
        &:active {
          background-color: $primaryColor;
          color: $primaryColor_onActive;
        }
        &.selected {
          background-color: $primaryColor;
          color: $primaryColor_onActive;
        }
      }
    }
  }

  & .external {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    svg {
      border-radius: 5px;
      &:hover {
        color: $primaryColor_onHover;
      }
      &:active {
        background-color: $primaryColor;
        color: $primaryColor_onActive;
      }
      &.selected {
        background-color: $primaryColor;
        color: $primaryColor_onActive;
      }
      margin: 0 1em;
    }
    span {
      padding: 0.7em;
      border-radius: 5%;
      &:hover {
        color: $primaryColor_onHover;
      }
      &:active {
        background-color: $primaryColor;
        color: $primaryColor_onActive;
      }
    }
  }
}
